* {
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  box-sizing: border-box;
  direction: rtl;
  
}
article {
  /* resize: both; */
  /* overflow: auto; */
  background-color: #e6e6e6;
  /* border: solid 1px black; */
   /* width: 800px; */
  /* height: 99.5%;  */
  /* max-height: 717; */
  /* box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.4),
    0 2px 5px 0 rgba(65, 65, 65, 0.39); */
    position: relative;
}
/* title parts */

#title {
  display: flex;
  flex-direction: row-reverse;
  height: 37px;
  position: relative;
}
#title #close {
  
  width: 46px;
  display: flex;
  height: 100%;
  position: absolute;
  right: 0px;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
}
#title #close:hover{
  background-color: #e81123;
  color: #e6e6e6;
}
#title #maximize {
  display: flex;
  justify-content: center;
  width: 46px;
  position: absolute;
  right: 46px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#maximize:hover{
  background-color: #cfcfcf;
  }
#title #minimize {
  display: flex;
  width: 46px;
  position: absolute;
  right: 92px;
  height: 100%;
  align-items: center;
  justify-content: center;

}
#minimize:hover{
background-color: #cfcfcf;
}
p#cal {
  position: absolute;
  display: flex;
  height: 100%;
  left: 14px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

/* title parts */
/* history block parts */
#historyblock{
  display: none;
  float: right;
  height: 50%;
  width: 25%;
  position: relative;
  min-width: 300px;
  
}
div#hismem ,div#hishis {
  position: absolute;
  left: 22px;
  font-size: 21px;
  font-weight: 700;
  display: inline;
  /* width: 100%; */
} 
div#hismem{
  position: absolute;
  left: 125px;
  
}
div#hishis{
  padding-bottom: 5px;
  border-bottom: 5px solid #d8864c;
  border-radius: 2px;
}
p#nohis{
  position: absolute;
  top: 70px;
  right: 125px ;
  font-size: 15;
font-weight: 700;
}
/* history block parts */

/* toolbar parts */
#toolbar {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 19px;
}
#toolbar #history {
  /* width: 20px; */
  position: absolute;
  right: 10px;
  top: -10px;

}
#toolbar #history:hover{
  position: fixed;
  background-color: #d0d0d0;
  border: 14px solid  #d0d0d0;
  top: 33px;
  right: -3;
  
}

#toolbar #keepontop {
  position: absolute;
  left: 177px;
  
}
#toolbar #keepontop:hover{
  background-color: #d0d0d0;
  border: 12px solid  #d0d0d0;
  left: 165px;
}
p#standard {
  position: absolute;
  left: 60px;
  font-weight: 500;
  font-size: 22px;
  cursor: default;
}
#navbar {
  position: absolute;
  left: 10px;
  padding: 5px;
  /* background-color: #d0d0d0; */
  justify-content: center;
  /* border: 9px solid #d0d0d0; */

}
#navbar div {
  width: 16px;
  height: 1px;
  background-color: black;
  margin: 3px 0;
  font-weight: 600;
  align-items: center;
}
#navbar:hover{
  background-color: #d0d0d0;
  border: 9px solid #d0d0d0;
  left: 1px;
}
/* toolbar parts */

/* display parts */

#display {
  font-weight: 640;
  font-size: 48px;
  padding-right: 11px;
  margin-top: 32px;
  height: 15%;
  cursor: auto;
}

/* display parts */

/* memory parts */
div.memory {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  align-items: center;
  
}
#memory {
  display: flex;
  flex-direction: row-reverse;
  width: 83.3%;
  max-width: 410px;
  justify-content: space-around;
  height: 30;
  border-bottom: 4px solid #e6e6e6 ;
}

.mstyle {
  /* padding: 20px; */
  font-size: 14;
  font-weight: 700; 
  width: 20%;
  text-align: center;
  align-content: center;
  padding-top: 5px;
  

 
}
#mc ,#mr {
  color: rgb(182,182,182);
}
  

#m {
  position: absolute;
  right: 7%;
  font-size: 14;
  font-weight: 700;
  color: rgb(182,182,182);
  height: 30;


  
  

}
#tri{
  position:relative;
  
}
#tri2{
  position: absolute;
  left: 10px;
  bottom: 2px;
}
#mplus:hover{
  background-color:#d0d0d0 ;
  
}
#m-:hover{
  background-color:#d0d0d0 ;
  
}
#ms:hover{
  background-color:#d0d0d0 ;
  
}

/* memory parts */


/* button parts start */
#buttonpart {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  
    height: 67%;
  gap: 3px;  
}

#buttonpartfull {
  /* display: grid; */
  grid-template-columns: auto auto auto auto auto ;
  height: 67%;
  gap: 3px;
  display: none;
  
}
div.but,div.nub{
  /* border: 2px solid rgb(230,230,230); */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   min-height: 47px;
   /* border: 1px solid black; */
   
   
}
div.nub:hover{
  background-color: #e6e6e6;
}
div.but:hover{
  background-color: #e6e6e6;
}
div.but{
  background-color: rgb(240,240,240);
  
}
div.nub{
  font-size: 28px;
  font-weight: 650;
  background-color: rgb(255, 255, 255);
}
#pfull{
 font-size: 18px;
 font-weight: 500;
 top: 20px;
}
/* button parts start */
/* Media Queries parts start */
@media screen and (min-width: 700px) {
  #historyblock{
    display: block;
  }
  #toolbar #history {
    display: none;
  }
  #m{
    display: none;
  }
  
}
@media screen and (min-width:1024px) {
  #buttonpart{
    display: none;
  }
  #buttonpartfull{
    display:grid ;
  }
  
}
/* Media Queries parts end */
